$color-primary-light: #EFD268;
$color-primary-dark: #AB8E21;
$color-danger: #f53d3d;
$color-secondary-light: #794DA1;
$color-secondary-dark: #4A1D73;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

.info {
  font-size: 1.5rem;
}

.bodd {
  // background: url('../../assets/cro.jpg');
  width: 100%;
  height: 100vh;
  background: cover;
  background-position: bottom;
  background-repeat: none;
  top: 0;
  overflow: hidden;
  margin-top: 25%;
}

.search {
  display: flex;
  margin-top: 5px;
  padding: .5rem;
  align-items: center;
  color: white;
  height: 6vh;
  margin-left: 15%;
  align-content: center;

  .searchInput {
    width: 60%;
    align-items: center;
    padding: 0 0 0 15px;
    height: 50px;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;

  }


  .searchbtn {
    font-size: 3rem;
    font-weight: 500;
    height: 40px;
    background: linear-gradient(rgba($color-grey-dark-2, .8), rgba($color-primary-dark, .9));
    -webkit-background-clip: text;
    color: transparent;
    float: right;
    width: 25%;
    border-radius: 4px;
    box-shadow: solid 0 0 15px 15px $color-grey-dark-2;
  }
}

.nocontent {
  animation: fade 1s ease;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;

  opacity: .5;

  &__contents {
    &--image {
      width: 15rem;
      height: 15rem;
      margin-top: 100%;
      display: block;

    }

    &--text {
      font-size: 2.5rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
  }
}


.content {

  align-content: center;
  height: 94vh;
  width: 100%;
  overflow: auto;
  // background: white;

  .avatarcnt {
    // background: #4A1D73;
    width: 100%;
    display: flex;
    flex-flow: row wrap;

    // overflow-y: scroll;
    // overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 1rem;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient($color-primary-dark, $color-primary-light);
      border-radius: 10rem;
    }

    .avatar {
      flex: 0 0 20rem;
      margin-left: 5rem;
      margin-top: 2rem;
      animation: showup .5s ease;
      margin: 2rem 2.5rem 0 2.5rem;
      padding: .5rem;
      transition: ease .3s all;

      &:hover {
        background: #AB8E21;
        border-radius: .5rem;
      }

      &__image {
        width: 10rem;
        height: 10rem;
        border-radius: 15%;
        border: 2px solid white;
        margin: 0 auto;
        display: block;
        color: #ccc;
        font-size: 2rem;
      }

      &__textcontainer {
        // display: flex;
        color: white;

        &--name {
          display: block;
          text-align: center;
          font-size: 3rem;
        }

        &--category {
          display: block;
          text-align: center;
          font-size: 2rem;
          background: rgba(white, .1);
          border-radius: 10rem;
          border: 2px solid $color-primary-light;
        }
      }
    }

  }

  @for $i from 1 through 10 {
    .avatar:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.5}s;
    }
  }

  .acti {
    background: $color-primary-dark;
  }
}
