<div class="container">
  <div class="contents">
    <div class="imagecontainer">
      <img src="{{image}}" alt="" class="image">
    </div>
    <div class="formcontent">
      <form>
        <label class="business">Movie Title</label>
        <h3 class="input">{{movie_title}}</h3>
        <label class="business">Release date</label>
        <h3 class="input">{{year}}</h3>
        <label class="business">Overview</label>
        <h3 class="input">{{overview}}</h3>overview
      </form>
      <button class="searchbtn" routerLink="/home">Back</button>
    </div>
  </div>
